@keyframes nav-lide-anim {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.cover-slide-txt {
  position: relative;
  display: inline-block;
  // color: #fff;
  // font-size: 2.5em;
  // padding: 0 10px;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.5s;
  transition-delay: 0.5s;
  &::before {
    content: '';
    position: absolute;
    background-color: $cTitle;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: right;
    transition: 0.5s;
    transition-delay: 0s;
  }
  &.active {
    transform: scaleX(1);
    transition-delay: 0s;
    &::before {
      transform: scaleX(0);
      transition-delay: 0.5s;
    }
  }
}
.cover-slide-img {
  left: -100px;
  // width: 350px;
  // height: 350px;
  // object-fit: cover;
  // display: block;
  position: relative;
  // margin-left: 10px;
  // max-width: 300px;
  // margin-top: 20px;
  opacity: 0;
  transition: 0.5s;
  &.active {
    opacity: 1;
    left: 0;
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade {
  opacity: 0;
  transition: all 0.5s ease;
  &.fade-up {
    transform: translateY(50px);
  }
  &.fade-down {
    transform: translateY(-50px);
  }
  &.fade-right {
    transform: translateX(50px);
  }
  &.fade-left {
    transform: translateX(-50px);
  }
  &.fade-rotate {
    transition: 1s;
    transform: translateY(50px) rotate(365deg);
  }
  &.fade-scale {
    transition: 1s;
    transform: scale(0);
  }
  &.active {
    opacity: 1;
    transform: none;
  }
}
