$skyblue: #45b7ff;
$cWhite: hsl(0, 0%, 100%);
$bodyColor: #5a5a5a;
$cGray: #b5b5b5;
$cTitle: #121b62;
$imgDir: '../images/';
$window-width: 100vw;
$side-nav-width: 111px;
$section-margin: 185px;
$s: 15px;
$xs: $s * 1.7;
$xm: $xs * 1.7;
$m: 35px;
$l: 45px;
$xl: 75px;
$xll: $s * 8;
$mt-100: 100px;
$mb-100: 100px;

.mt-lg {
  margin-top: $mt-100 !important;
}
.mb-lg {
  margin-bottom: $mt-100 !important;
}


// max-width
$breakpoint-down: (
  'sx': 'screen and (max-width: 320px)',
  'sm': 'screen and (max-width: 544px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1024px)',
  'ml': 'screen and (max-width: 1200px)',
  'll': 'screen and (max-width: 1400px)',
  'xl': 'screen and (min-width: 1401px)',
) !default;
@mixin mq-down($breakpoint: ml) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

@mixin bg-img($size: cover, $repeat: no-repeat, $position: center center) {
  background: {
    size: $size;
    repeat: $repeat;
    position: $position;
  }
}
@mixin animation(
  $name,
  $duration: 1s,
  $timing-function: ease,
  $delay: 0s,
  $iteration-count: 1,
  $direction: normal,
  $fill-mode: forwards
) {
  animation: {
    name: $name;
    duration: $duration;
    timing-function: $timing-function;
    delay: $delay;
    iteration-count: $iteration-count;
    direction: $direction;
    fill-mode: $fill-mode;
  }
}
